:root {
  --darkestBlue: #276678;
  --lighterBlue: #1687a7;
  --lighestBlue: #d3e0ea;
  --lightWhite: #f6f5f5;
  --space: 200px;
  --tall: 620px;
  background-color: var(--darkestBlue);
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

html {
  background: url("imgs/backroundImg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
}

header p, .section p{
  font-size: 26px;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  letter-spacing: .1rem;
}

nav{
    background-color: var(--lighterBlue);
  color: var(--lighestBlue);
  font-weight: 700;
    display: flex;
    justify-content:space-around;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

header{
    background-color: #f6f5f5;
    display: flex;
    justify-content: space-around;
    padding-top: .5rem;
    padding-bottom: .5rem;
    overflow-wrap: break-word;
    width: 70vw;
    margin: auto;
    margin-top: 94px;
    margin-bottom: var(--space);
    height: 620px;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    animation: transitionIn 1s;
}

.section{
  width: 70vw;
  margin-bottom: 32px;
  padding: 1rem;
  text-align: center;
  margin: auto;
  margin-bottom: var(--space);
  height: var(--tall);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  color: var(--lighterBlue);
}
#name{
  color: var(--lightWhite);
  letter-spacing: .1rem;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 368px;
    margin-right: 2rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

button{
  border: 2px solid var(--darkestBlue);
    cursor: pointer;
    background-color: transparent;
    box-shadow: -2px 2px var(--lighestBlue);
}

button:hover{
  transform: translateY(-0.25em);
  box-shadow: -2px 4px var(--lighestBlue);
}

#source-code-btn{
  border: 2px solid var(--darkestBlue);
    cursor: pointer;
    background-color: transparent;
    box-shadow: -2px 2px black;
    margin-top: .5rem;
}

#source-code-btn:hover{
  transform: translateY(-0.25em);
  box-shadow: -2px 4px black;
}
.about{
  background-color: var(--darkestBlue);
  color: var(--lightWhite);
  
}
.projects{
  background-color: var(--lightWhite);
  color: black;
}

.contact{
  display: block;
  background-color: var(--lighterBlue);
  height: fit-content;
}
#projects-grid{
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  margin-top: 1rem;
}

#projects-grid > div{
  height: 14rem;
  width: 14rem;
}
.project-item{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.project-item:hover{
  transform: translateY(-1em);
}

#weather-app{
  background-image: url("imgs/weatherappimg.PNG");
}
#gratitude-journal{
  background-image: url("imgs/gratitude-journal-img.PNG");
}
#color-canvas{
  background-image: url("imgs/color-canvas-img.PNG");
}
.reveal{
  position: relative;
  transform: translatex(-200px);
  opacity: 0;
  transition: 1.2s all ease;
}
.reveal.active{
  transform: translatex(0);
  opacity: 1;
}

input[type=text],input[type=email]{
  background-color: white;
  cursor: text;
  font-size: 17px;
}

textarea{
  resize: none;
  height: 45%;
  width: 50%;
  font-size: 17px;
}
@media (max-width:650px){
  nav{
    flex-direction: column;
    align-items: center;
  }
  nav>p{
    margin-bottom: 10px;
  }
  header{
    flex-direction: column;
    height: fit-content;
  }
  .description{
    width: auto;
    text-align: center;
    margin: 0;
  }

  .section{
    height: fit-content;
  }
  textarea{
    width: 90%;
  }
}